<mat-card>
    <mat-card-header>
       <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            This is a sample About page you can navigate to. When site visitors change routes, this will be tracked in Serverless Website Analytics.
        </p>
        <p>
            This website collects anonymized metrics about your visit, including your browser, general geographical information, and actions you perform on the site. This information is used to improve our services and provide a better user experience. No personally identifiable information is collected or stored.
        </p>
    </mat-card-content>
 </mat-card>
 