<mat-card>
    <mat-card-header>
      <mat-card-title>Event tracking</mat-card-title>
      <mat-card-subtitle>Event tracking example</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        This component demonstrates tracking button click events using the Serverless Website Analytics SDK. You
        will be able to view these click events from the <a href="https://web-analytics.ebertlabs.com" target="_blank"> Serverless Website Analytics Dashboard</a> by filtering on the site called <b><i>"aws-midwest-community-day"</i></b>.
      </p>
      <p>
        The AWS Firehouse Buffer for event ingestion is set at 120 seconds. This means it will take at least two minutes for the events your session generated to be visible on the SWA Dashboard.
      </p>
      <div class="vertical-buttons">
        <button mat-raised-button color="primary" (click)="trackEvent('Button1Clicked')">Click Button 1</button>
        <button mat-raised-button color="accent" (click)="trackEvent('Button2Clicked')">Click Button 2</button>
        <button mat-raised-button color="warn" (click)="trackEvent('Button3Clicked')">Click Button 3</button>
      </div>
    </mat-card-content>
  </mat-card>  
